/* Body Styling */
h1,h2,h3,.h1 {
  font-family: 'Open Sans', sans-serif;
}
p {
  font-size: 1.15rem;
  font-family: 'Raleway', sans-serif;
}
h3 {
  margin-top: 1rem;
}
.row {
  justify-content: center;
}
.fas, .fab {
  color: #343a40;
}

/* Name Section */


/* Skills Section */
.skills h3 {
  font-size: 1.875rem;
}

/* Portfolio Section */
.portfolio {
  background-color: #e9ecef;
}

/* Contact Section */
@media (max-width: 425px) {
  .contact, .col-sm-3 {
    margin: .5rem;
  }
}

/* Footer */

@media (min-width:768px) {
  .container {
    max-width: 100%;
  }
}
